*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

   
}
body{
    font-family:'Open Sans';
    background: rgb(44,33,234);
    background: linear-gradient(90deg, rgb(236, 236, 236) 0%, rgba(7,46,146,1) 41%, rgba(0,212,255,1) 100%);
    
}
.form_wrap{
    width: 1070px;
    height:530px;
    margin: 50px auto;
    display: flex;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}
.contact_info::before{
    content: '';
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    background:#4091EC
    
}
.contact_info{
    width: 38%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;

    background-image: url(../images/ford_brasil.jpg);
    background-size: cover;
    background-position: center center;
  

}
.info_title,
.info_items{
        position: relative;
        z-index: 2;
        color: rgb(255, 255, 255);
}
.info_title{
    margin-bottom: 65px;
}
.info_title span {
    font-size:100px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}
.info_title h2{
    font-size:35px;
    text-align: center;
}
.info_items p{
    display: flex;
    align-items: center;
    font: size 16px;
    font-weight: 600;
    margin-bottom: 16px;
}
.info_items p span {
    font: size 50px;
    margin-right: 15px;
}
.info_items p:nth-child(2)span {
    font: size 70px;
    margin-right: 25px;
    margin-left: 4px;
}
form.form_contact{
    width: 62%;
    padding: 30px 40px;
}
form.form_contact .user_info{
    display: flex;
    flex-direction: column;

}




form.form_contact input,
form.form_contact textarea{
    width: 375%;
    padding: 1px 0px 8px;
    margin-bottom: 47px;
    border: none;
    border-bottom: 2px solid #2287da;
    font-family: 'Open sans';
	color: #0004ff;
	font-size: 20px;
	font-weight: 700;
}
form.form_contact textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

form.form_contact input[type="submit"]{
    width: 375%;
	background: #2482ee;
	padding: 10px;
	border: none;
	border-radius: 25px;

    align-self: flex-end;

    color: #fff;
	font-family: 'Open sans';
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}








